* {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.flex-container > div {
  display: flex;
  flex-wrap: nowrap;

  justify-content: center;
}

.description {
  margin-left: 50px;
  width: 90%;
}

.recipeType {
  margin-left: 50px;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 50px;
}
.recipe-title {
  margin-left: 50px;
}

.specifications {
  margin-left: 55px;
  margin-top: 30px;
}

.div-title {
  color: orange;
}
.requirement {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.border-title {
  background-color: orange;
  height: 3px;
  border: none;
  border-block-start-width: medium;
  margin-right: 150px;
}
