* {
  margin: 0px;
  padding: 0px;
}
.page-main {
  font-family: 'Hind', sans-serif;
  display: block;
  background-image: url('https://www4.0zz0.com/2020/11/28/11/951895225.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.bg-layer {
  padding: 50px;
}
.bg-layer h1 {
  color: #fff;
  font-family: 'Lobster', cursive;
  font-size: 38px;
  padding: 20px;
}

.header-main {
  max-width: 350px;
  margin: 0 auto;
  position: relative;
  padding: 3em 2em;
  background: rgba(255, 255, 255, 0.04);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}

.icon1 {
  margin: 0 0 1em;
  padding: 0.8em 1em;
  background: rgba(255, 255, 255, 0.94);
}

.main-icon img {
  width: 250px;
  height: 70px;
  margin-bottom: 20px;
}

.header-left-bottom input[type='username'] {
  outline: none;
  font-size: 15px;
  color: #222;
  border: none;
  width: 90%;
  display: inline-block;
  background: transparent;
  letter-spacing: 1px;
  margin: 3px;
}

.header-left-bottom input[type='email'] {
  outline: none;
  font-size: 15px;
  color: #222;
  border: none;
  width: 90%;
  display: inline-block;
  background: transparent;
  letter-spacing: 1px;
  margin: 3px;
}

.header-left-bottom input[type='password'] {
  outline: none;
  font-size: 15px;
  color: #222;
  border: none;
  width: 90%;
  display: inline-block;
  background: transparent;
  letter-spacing: 1px;
}

.checkbox {
  position: relative;
  display: block;
  padding-left: 30px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
  text-align: left;
}

.header-left-bottom button.btn {
  background: #007cc0;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.8em 2em;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
}
